.footer {
	min-height: 40rem;
	margin-top: 6rem;
}
.footer .box {
	background-image: url("../images/background-stars.svg");
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 40rem;
	position: relative;
	padding: 2rem 8rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer .box::after {
	content: "";
	clear: both;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(
		to bottom,
		var(--white) 0%,
		rgba(224, 224, 224, 0.4) 100%
	);
}

.col-title h2 {
	font-size: 1.6rem;
	text-transform: uppercase;
	padding-bottom: 2rem;
}
.footer li {
	list-style: none;
	margin-bottom: 1rem;
}
.footer .box .col:nth-child(2) {
	/* grid-column: 1 / span 1; */
	padding: 0 6rem;
	font-size: 1.6rem;
}

.footer .box .col:nth-child(2) .adress {
	line-height: 3.2rem;
	padding-top: 2rem;
}
.footer .box .col:nth-child(3) {
	align-items: flex-end;
	justify-self: end;
}
.footer li a {
	font-size: 1.6rem;
	color: var(--primary-text-color);
}
.footer .col-box {
	max-width: 120rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 8rem;
	display: flex;
	justify-content: space-between;
}
.col-box img {
	width: 3.6rem;
	height: 3.6rem;
	margin: 0 0.5rem;
	vertical-align: middle;
}
.col-box p {
	font-size: 1.4rem;
	font-weight: 600;
}

@media screen and (max-width: 500px) {
	.footer .box {
		grid-template-columns: 1fr;
		padding: 2rem 5vw;
		max-width: 100vw;
	}
	.footer .col-box {
		padding: 2rem 1rem;
	}
	.col-box img {
		width: 2.6rem;
		height: 2.6rem;
		margin: 0 0.5rem;
		vertical-align: middle;
	}
	.footer .box .col:nth-child(1) li {
		line-height: 1rem;
	}
	.footer .box .col:nth-child(2) {
		padding: 1rem 0;
	}
	.footer .box .col:nth-child(3) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5rem;
		justify-self: start;
		align-items: flex-start;
	}
	.footer .box .col:nth-child(3) .col-title {
		margin: 0 !important;
		padding: 0 !important;
	}
}
