:root {
	--primary-color: #f30000;
	--secondary-color: #0061a3;
	--card-border-color: #e0e0e0;
	--primary-text-color: #000000;
	--secondary-text-color: #5f5f5f;
	--primary-button-color: #f7d300;
	--cost-color: #13902a;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}

html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}

a {
	color: var(--secondary-color);
}
button {
	border: none;
	background: transparent;
}

.app {
	width: 100%;
	height: 100%;
}

.box {
	max-width: 120rem;
	width: 100%;
	margin: 0 auto;
}
.section-heading h2 {
	font-size: 2.4rem;
	font-weight: 500;
	text-transform: uppercase;
	margin: 7rem 0 3rem;
}
.title {
	font-size: 1.8rem;
	background: var(--primary-color);
	color: var(--white);
	min-height: 4.2rem;
	width: 100%;
	border-radius: 0.8rem;
	margin-bottom: 2rem;
	/* display: none; */
}
.title h2 {
	font-size: 1.8rem;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 4.2rem !important;
	text-align: center;
}
.pt-5 {
	padding-top: 5rem;
}
.mobile-only {
	display: none;
}

.d-flex {
	display: flex !important;
}

.j-center {
	justify-content: center !important;
}
.j-between {
	justify-content: space-between !important;
}
.j-around {
	justify-content: space-around !important;
}
.a-center {
	align-items: center !important;
}
.d-row {
	display: flex;
	flex-direction: row;
}
.d-column {
	display: flex;
	flex-direction: column;
}
.m-auto {
	margin: 0 auto !important;
}
.d-none {
	display: none;
}
.overflow-hidden {
	overflow: hidden !important;
}
.t-underline {
	text-decoration: underline;
}

/* sizing */
.w-100 {
	width: 100% !important;
}
.w-90 {
	width: 90% !important;
}
.w-80 {
	width: 80% !important;
}
.w-70 {
	width: 70% !important;
}
.w-60 {
	width: 60% !important;
}
.w-50 {
	width: 50% !important;
}
.w-40 {
	width: 40% !important;
}
.w-30 {
	width: 30% !important;
}
.w-20 {
	width: 20% !important;
}
.w-10 {
	width: 10% !important;
}

.h-100 {
	height: 100% !important;
}

@media screen and (max-width: 500px) {
	html {
		overflow-x: hidden;
	}
	.box {
		max-width: 90vw;
	}
	.section-heading h2 {
		font-size: 1.6rem;
		margin: 2rem 0;
	}
	.title h2 {
		font-size: 1.4rem;
		min-height: 3.2rem;
	}
	.faq {
		display: none;
	}
}
