.play-online {
	margin-top: 7.5rem;
	text-align: right;
}
.play-online .more-details {
	margin: 1rem 5rem;
	font-size: 1.8rem;
	font-weight: 400;
}

.play-online .play-online-card-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1.5rem;
	padding: 0 5rem;
}
.play-online .play-online-card {
	border: 1px solid var(--card-border-color);
	border-radius: 0.8rem;
	min-height: 27rem;
	padding: 1rem 3rem;
	position: relative;
}
.play-online-card .card-info span {
	font-size: 1.4rem;
	font-weight: 400;
	vertical-align: top;

	text-transform: uppercase;
}
.play-online-card .card-info {
	margin-top: 2rem;
}
.play-online-card .card-info p {
	font-size: 2rem;
	color: var(--text-color);
	font-weight: 500;
	line-height: 4rem;
}
.play-online-card .time path,
.play-online-card .time span {
	fill: var(--secondary-color);
	color: var(--secondary-color);
	font-size: 1.6rem;
}

.play-online-card .time span {
	vertical-align: top;
}
.play-online-card button {
	padding: 1rem 4rem;
	margin: 1rem 0;
	background: var(--primary-button-color);
	border-radius: 0.8rem;
}
.play-online-card .star {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	font-size: 2.4rem;
	color: var(--primary-button-color);
}

@media screen and (max-width: 500px) {
	.play-online .play-online-card-box {
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}
	.play-online .play-online-card {
		min-height: 23rem;
		padding: 1rem;
	}
	.play-online-card button {
		padding: 1rem 2rem;
	}
}
